<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>测试windows运行</description>
  <keepDependencies>true</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <scmCheckoutRetryCount>1</scmCheckoutRetryCount>
  <assignedNode>TEST</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>java -version &#xd;
echo hello</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>